---
import AuthorCloud from "../components/AuthorCloud.astro";
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img src="/images/post-1.jpg" width="200" height="330" />
    <div class="container">
      <h1 class="h1">My blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
        libero cupiditate! Accusamus enim inventore iure itaque quibusdam
        aliquam, veniam animi reprehenderit officiis error in cumque, alias et
        saepe cum maxime. Neque voluptate id praesentium iure quidem nulla error
        ducimus molestiae!
      </p>
      <Link
        text="Contact Me"
        href="mailto"
        style="primary"
        borderVisible={true}
      />
    </div>
  </section>
</MainLayout>
